<!------ Include the above in your HEAD tag  ---------->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>

<body>
  <div id='wrap'>

    <div id='calendar'></div>

    <div style='clear:both'></div>
  </div>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
